.formulario{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color:white;
    border-radius:10%;
    box-shadow: 3px 3px 5px rgba(36, 160, 119, 0.719);
    width: 400px;
    height: 400px;
}
 div input{
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    font-weight:bold;
}

.botao{
    width: 200px;
    height: 50px;
    color:white;
    border-radius: 10px;
    font-size: 1.5em;
    background-color:rgba(6, 56, 38, 0.87);
    margin-bottom: 20px;
}
.esqueceu{
    font-size:0.9em;
    color: darkblue;
}
.esqueceu a{
    text-decoration: none;
}
